h1 {
	font-size: 220%
}
h2 {
	font-size: 200%
}
h3 {
	font-size: 180%
}
h4 {
	font-size: 160%
}
h5{
	font-size: 140%
}
h6 {
	font-size: 120%
}

p {
    font-family: Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;
}

a {
	font-family: Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;
	text-decoration: none;
}

a:link{
	color: #000000;
}

a:visited{
	color: #111111;
}

a:hover{
	color: #AAAAAA;
}

a:active{
	color: #222222;
}



#header, #core, #footer, #featured img, #about img, #artpieces img {
    border-radius: 25px;	
}


body {
	font-family: Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;
	font-weight: bold;
	background-color: #AAAAAA;
	background-image: url("images/main/backgroundsmall.jpg");
}

#header, #footer, #core{
	background-color: #FFFFFF;
	background-image: url("images/main/backgroundlight.jpg");
	margin: 1%;
	padding: .5%;
}

#core ul li {
	list-style: none;
}

hr {
	margin: 0.5em 0em 0.5em 0em ;
	padding: 0em;

}

nav {
	width: 100%;
}

nav ul li {
	list-style: none;
	display: inline;
}

nav a {
	padding: 0em 1em 0em 1em;
}



#instalogo, #instapics{
	height: 270px;
	padding: 1em;
}

#instalogo img, #instapics img{
	align-content: center;
	height: 260px;
	width: 260px;
}

#social img {
	width: 32%;
}



#extra {
	color: #DDDDDD;
	text-align: right;
}

#extra a {
	color: #DDDDDD;
}

#porticons img {
	width: 100%;
}

@media screen and (max-width: 992px) {
	#artpieces img {
		width : 49%;
	}
}

@media screen and (min-width: 992px) {
	#artpieces img {
		width: 33%;
	}
}



